body{
  background-color: Beige;
}
.bootcamp{
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 5px black;
  margin-top: 2em;
  padding: 3em;
}

.logo{
  height: 3em;
}

.checkboxes input{
  padding: 50px;
}

.priceRange{
  margin: 50px;
}

.priceRange button{
  margin-top: 7px;
}
